.spinner {
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	z-index: 2;
	width: 35px;
	height: 35px;
}
.spinnerSmall {
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	z-index: 2;
	width: 20px;
	height: 20px;
}
.spinner .black,
.spinnerSmall .black {
	stroke: black;
	strokelinecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
}
.spinner .white,
.spinnerSmall .white {
	stroke: white;
	strokelinecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
}
.spinner .gray,
.spinnerSmall .gray {
	stroke: gray;
	strokelinecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
}
.spinner .lightgray,
.spinnerSmall .lightgray {
	stroke: lightgray;
	strokelinecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
}
.spinner .red,
.spinnerSmall .red {
	stroke: red;
	strokelinecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
}
.spinner .blue,
.spinnerSmall .blue {
	stroke: #255d7e;
	strokelinecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}
